.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #acaaaa;
    margin-bottom: 20px;
   
}

.nav{
    display: flex;
    align-items: center;
}

.navlink{
    text-decoration: none;
    text-transform: uppercase;
    color: #acaaaa;    
    font-weight: bold;
}
.navlink:not(:last-child){
    margin-right: 30px;
}
.navlink:hover,
.navlink:focus{
    /* transform: scale(1.1); */
    color: #5383ec;
}
.active{
    color: #5383ec;
}